<plugin name='dynamic-logs' version='0.2' grailsVersion='2.1 &gt; *'>
  <title>Dynamic Logs Plugin</title>
  <description>Allows you to dynamically change log levels on all instances listening to a particular topic via RabbitMQ Messages.</description>
  <documentation>http://grails.org/plugin/dynamic-logs</documentation>
  <type>DynamicLogsGrailsPlugin</type>
  <resources>
    <resource>DynamicLoggingConfig</resource>
    <resource>DynamicLoggingUrlMappings</resource>
    <resource>com.dynamiclogs.LogLevelController</resource>
    <resource>com.dynamiclogs.LogLevelListenerService</resource>
    <resource>com.dynamiclogs.LogLevelService</resource>
  </resources>
</plugin>